@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/metropolis-2');
/* @font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'), url('') format('woff');
} */

body {
  margin: 0;
  font-family: 'Metropolis', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000 !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.MuiList-root { font-family: 'Metropolis', sans-serif;
  background-color: #fcedbf !important;
}

.MuiDialogTitle-root {
  background-color: #cabd97 !important;
  color: 'white' !important;
}
.MuiButton-containedPrimary {
  background-color: #cabd97 !important;
}

.MuiPaper-root {
  background-color: transparent !important;
}

.MuiBox-root {
  overflow: hidden !important;
}

.fact {
  /* background-color: rgba(255, 255, 255) !important; */
  border-radius: 5px !important;
}

.fact-1 {
  background-color: #FEB100 !important;
  border-radius: 1px !important;
  padding-bottom: 5px !important;
  /* color: #000000 !important; */
}

.custom-button {
  background-color: #FFC68D !important;
  font-size: 18px !important;
  color: #DC6E00 !important;
  border-radius: 12px !important;
  width: 30%;
  height: 64px;
  /* align-items: center; */
  /* min-width: 470px; */
}

.buy-button {
  background-color: #DC6E00 !important;
  font-size: 18px !important;
  color:white !important;
  border-radius: 12px !important;
}

.copy-button {
  background-color: #000000 !important;
  font-size: 18px !important;
  color:white !important;
  border-radius: 12px !important;
}

.MuiPaper-rounded {
  border-radius: 20px !important;
}

.css-v8qbgq {
  background-color: #000000 !important;
/*  background-image: url("./assets/background.png");*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2% !important;
  /* border: 3px solid rgba(45, 98, 89, 0.297); */
  border: 1px solid #000000;
  border-radius: 10px;
  max-width: 700px !important;
}

/* card */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root {
  /* margin: 15% !important; */
  margin-bottom: 20px !important; 
  margin-top: 20px !important; 
}

.logo {
  height: 230px;
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root {
    margin: 1% !important;
    margin-bottom: 20px !important; 
    margin-top: 20px !important; 
  }

  .logo {
    height: 130px;
    width: 170px;
    margin-top: 10px !important;
  }
}

.solana-heart-image {
  position: absolute;
  right: 9%;
  top: 430px;
}

.crayon-heart-image {
  position: absolute;
  left: 7%;
  top: 350px;
}


@media only screen and (max-width: 1000px) {
  .solana-heart-image {
    display: none;
  }
  .crayon-heart-image {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;